body {
  background-color: lightblue;
  color: white;
  margin: 0px 0px 10px 10px;
  padding-top: 0px
}

h1 {
  font-size: 100px;
  text-align: center;
  background-color: rgb(250, 146, 241);
  margin-top: 0px;
  margin-left: -10px;
}

.menuImages {
  width: 400px;
  margin-left:45%
}

.vanilla {
  color: red;
  text-align: center;
  font-size: 50px;
}

.choco {
  color: rgb(83, 41, 10);
  text-align: center;
  font-size: 50px;
}

.straw {
  color: red;
  text-align: center;
  font-size: 50px;
}

.flashy {
  color: rgb(65, 28, 124);
  font-style: italic;
}

.best {
  background-color: yellow;
  border: 10px solid brown;
}

p {
  text-align: center;
  font-size: 40px;
}